<h2>Edit site check</h2>

<%= render "form.html", changeset: @changeset,
                        action: site_check_path(@conn, :update, @site_check) %>

<%= link "Back", to: site_check_path(@conn, :index) %>
